doctype html
html(lang="en")
  head
    include includes/head.pug
  body
    include includes/nav.pug
    div.container
      div.row.justify-content-center
        div.col-md-auto.col-sm-12
          h1= site_name
          form(method='POST' action="/generate")
            div.form-group
              label(for='num') How many lessons to include:
              input#num.form-control(type='number' min=min_tracks max=num_tracks value=min_tracks name='num')
              small.form-text.text-muted Select a number between #{min_tracks} and #{num_tracks}
            div.form-group
              button(type=submit) Submit
    include includes/suffix.pug